
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(71, 67, 67);
}

body{
    width: 100%;
    height: 100%;background-color: rgb(159, 142, 175);
}

.container{
    max-width: 700px;
    min-width: 400px;
    background-color: white;
    border-radius: 6px;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    padding-inline: 25px;
    overflow: hidden;
    
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 25px;
  

}


.logo img{
    height: 65px;
    padding-top: 20px;
    
}

.address{
    text-align: right;
    
}
.address h2{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 4px;
}
.address p:nth-child(4),.address p:nth-child(5),.address p:nth-child(6){
    font-size: 12px;
}
h1{
    padding-block: 20px;
    font-weight: 500;
}
.fromhead{
  font-size: 25px;
  background-color: rgb(229, 227, 223);
  padding: 20px;
  margin-bottom: 20px;
}
h4{
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
    text-align: left;
  
}
.name{
    display: flex;
    gap: 7px;
    padding-block: 10px;
    
    
}

.first-name,.middle-name,.last-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 33%;
}
input[type="text"]{
    height: 40px;
    border-radius: 3px;
    padding: 6px;
}


.number-label{
    display: flex;
    gap: 25px;
    align-items: center;
}

.student-number{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.year-label{
    width: 50%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    
}
 select{
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px;
}


.degree-email,.phone-network{
    display: flex;
    gap: 25px;
    padding-top: 20px;
}
.degree,.network,.email,.phone{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 6px;
}

.date input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.address{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.address label{
    text-align: left;
}

.street,.street2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.street input,.street2 input{
    width: 100%;
    padding-block: 20px;
}

.city-state,.zip-country{
    width: 100%;
    display: flex;
    gap: 25px;
}
.city,.state,.zip,.country{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
   
}

.contact-relation{
    display: flex;
    padding-block: 5px;
    gap: 15px;

    
}

div.contact-relation div{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 28%;
    flex-grow: 1;
    
}






.postal{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
}

.emergency-phone,.emergency-email{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.emergency-phone input,.emergency-email input{
    width: 50%;
}

.accdamic{
    margin-block: 25px;
}

.high-school,.other{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.high-school input,.other input{
    width: 50%;
}

.upload-file{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.upload-file input{
    display: none;
}

.file-degain{
    width: 100%;
    height: 150px;
    display: flex;
    border: 1px solid ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: whitesmoke;

}

.file-degain i {
    font-size: 35px;
}

.u-f{
  font-size: 22px;
}
.u-p{
  font-size: 15px;
  color: rgb(101, 93, 93);
}

div.extra-curri{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 22px;
}

div.extra-curri div{
    flex-basis: 49%;
    display: flex;
    align-items: center;
    gap: 6px;
}
div.extra-curri label{
    font-size: 20px;
}
div.extra-curri input{
    width: 20px;
    height: 20px;
}


textarea{
    width: 100%;
    margin-top: 10px;
    height: 200px;

}


.income{
    width: 50%;
    margin-top: 15px;
}


.radio{
    display: flex;
    padding-top: 25px;
    align-items: center;
    
    
    
}
.yes,.no{
    display: flex;
    gap: 10px;
    width: 50%;
}

.radio input{
    width: 20px;

}


.button{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.button{
    width: 250px;
}

.button button{
    width: 100%;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 1s;
}



button[type="button"]{
    background-color: rgb(108, 21, 195);
    color: white;
    border-radius: 10px;
}

.print{
    background-color: black;

}

button:hover{
    background-color: aqua;
}

input{
    border: 1px solid ;
}




